<!-- will be put into helper and need to DRY-->
<% d = Date.today %>
<% today = d.wday %>
<% if today == 1 %>
	<% today = "Monday" %>
<% elsif today == 2 %>
	<% today = "Tuesday" %>
<% elsif today == 3 %>
	<% today = "Wednesday" %>
<% elsif today == 4 %>
	<% today = "Thursday" %>
<% elsif today == 5 %>
	<% today = "Friday" %>
<% elsif today == 6 %>
	<% today = "Saturday" %>
<% elsif today == 7 %>
	<% today = "Sunday" %>
<% end %>

<div role="main">

	<div id="home_header">

		<div class="container">
			<h1> It's <span><%= today %></span>, <br /> Find the Closest <br /> Farmers Market </h1>
		</div>

		<div class="footer_arrow">
		</div>
	
	</div>

	<div id="home_middle">

		<div class="container">
			<%= form_tag market_url, :method => 'get' do %>
				<%= text_field_tag :search, params[:zip], :placeholder => "Enter Zip", :class => "input" %>
				<%= submit_tag "Search", :name => nil, :class => "submit" %>
			<% end %>
		</div>
	</div>
</div>