<% d = Date.today %>
<% today = d.wday %>
<% if today == 1 %>
	<% today = "Monday" %>
<% elsif today == 2 %>
	<% today = "Tuesday" %>
<% elsif today == 3 %>
	<% today = "Wednesday" %>
<% elsif today == 4 %>
	<% today = "Thursday" %>
<% elsif today == 5 %>
	<% today = "Friday" %>
<% elsif today == 6 %>
	<% today = "Saturday" %>
<% elsif today == 7 %>
	<% today = "Sunday" %>
<% end %>

<h1> It's <%= today %>, Find the Closest Farmers Market </h1>

<% d = Date.today %>
<% today = d.wday %>
<% if today == 1 %>
	<% today = "open_monday" %>
<% elsif today == 2 %>
	<% today = "open_tuesday" %>
<% elsif today == 3 %>
	<% today = "open_wednesday" %>
<% elsif today == 4 %>
	<% today = "open_thursday" %>
<% elsif today == 5 %>
	<% today = "open_friday" %>
<% elsif today == 6 %>
	<% today = "open_saturday" %>
<% elsif today == 7 %>
	<% today = "open_sunday" %>
<% end %>

<% today = today.parameterize.underscore.to_sym %>

<ul>
	<% Market.where(today => true).each do |m| %>
		<li><h3><%= m["name"] %></h3> 
		    <strong> Address: </strong> <%= m["address"] %> | <strong> Accept Linkcard: </strong> <%= m["linkcard"] %>
	   </li>
 	   <% end %>
</ul>

<!-- DRY..make a loop and have the below statements go into it -->
<!-- something([1..7], [monday, tuesday, wednesday, thursday, friday, saturday, sunday]) --> 

<!-- drop down menu of the days tomorrow -->
<%#= render 'form' %>





