<h1><%= Date.today, Time.now %></h1>

<h2> "Nearest Farmers Market..." </h2>

<%# if "Monday" was selected from the form do %>
 	<!-- <ul><%# Market.where(:open_monday => true).each do |m| %> -->
		<!-- <li><h3><%#= m["name"] %></h3>  -->
		        <!-- <strong>Address: </strong><%#= m["address"] %> |  -->
		        <!-- <strong>Accept Linkcard: </strong> <%#= m["linkcard"] %></li> -->
 	    <%# end %>
 	<!-- </ul> -->
<%# elsif %>
<%# if "Tuesday" was selected from the form do %>
 	<!-- <ul><%# Market.where(:open_tuesday => true).each do |m| %> -->
		<!-- <li><h3><%#= m["name"] %></h3>  -->
		        <!-- <strong>Address: </strong><%#= m["address"] %> |  -->
		        <!-- <strong>Accept Linkcard: </strong> <%#= m["linkcard"] %></li> -->
 	    <%# end %>
 	<!-- </ul> -->
<%# elsif %>


