<!-- NEED TO STYLE -->

<!-- will be put into helper and need to DRY-->
<% d = Date.today %>
<% today = d.wday %>
<% if today == 1 %>
	<% today = "Monday" %>
<% elsif today == 2 %>
	<% today = "Tuesday" %>
<% elsif today == 3 %>
	<% today = "Wednesday" %>
<% elsif today == 4 %>
	<% today = "Thursday" %>
<% elsif today == 5 %>
	<% today = "Friday" %>
<% elsif today == 6 %>
<% today = "Saturday" %>
<% elsif today == 7 %>
	<% today = "Sunday" %>
<% end %>

<h1> It's <%= today %> </h1>

<!-- will be put into helper and need to DRY-->
<% d = Date.today %>
<% today = d.wday %>
<% if today == 1 %>
	<% today = "open_monday" %>
<% elsif today == 2 %>
	<% today = "open_tuesday" %>
<% elsif today == 3 %>
	<% today = "open_wednesday" %>
<% elsif today == 4 %>
	<% today = "open_thursday" %>
<% elsif today == 5 %>
	<% today = "open_friday" %>
<% elsif today == 6 %>
	<% today = "open_saturday" %>
<% elsif today == 7 %>
	<% today = "open_sunday" %>
<% end %>

<% today = today.parameterize.underscore.to_sym %>

<ul>
	<% @markets.each do |market| %>
    	<h2><%= market.name %></h2>  
    	<li> <strong>Address:</strong> <%= market.address %> 
    		<% if market.linkcard %>
				 <strong>| Linkcard Accepted </strong> 
    		<% end %>
    		<% @close_markets.each do |data| %><br/>
    			<% if data[0].include?(market.zipcode) %>
    			<%= data[1]["distance"]["text"] %> 
    			<% end %>
    		<% end %>
    	</li>
	<% end %>
</ul>
