<h1>Markets in your area</h1>

<ul>
<% @markets.each do |market| %>

    <h2><%= market.name %></h2> 
    <li> <strong>Address:</strong> <%= market.address %> | 
    	<% if Market.where(:linkcard => true) %>
			<strong> Linkcard Accepted </strong> 
    	<% end %>
    </li>
<% end %>
</ul>
