/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

/*NEW STYLES BEGIN*/

nav {
		background-color: #FFFFFF;
		top: 0;
		position: fixed;
		font-family:'Raleway', sans-serif;
		width: 100%;
		z-index: 99;
		text-align: center;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
		text-transform: lowercase;
		padding: 30px;
	}

nav li {
	display: inline;
	margin: 0px 3px;
}

#main {
	background-color: #f7f5f2;
}

#home_header .container {
	background: #45494D url("background.jpg") no-repeat center center; 
	background-size: cover;
	position: relative; 
	z-index: 20;
	max-width: 2000px;
	min-height: 317px;
	width: 100%;
	height: 100%;
	padding: 14% 0;
	margin: 0px auto 0px auto;
}

#home_header .container h1 {
	padding: 28px;
	color: #FFFFFF;
	font-family: 'Ultra', serif;
	font-size: 400%;
	font-weight: 300;
	text-align: center;
	text-shadow: 1px 1px 0px #000000;
}

#home_header .container span {
	font-style: italic;
}

#home_header .footer_arrow a {
	z-index: 300;
	background: url("arrow.png") no-repeat;
	background-position: center bottom;
	z-index: 300;
	display: block;
	margin: -13px auto;
	height: 25px;
	position: relative;
	top: -12px;
}

#home_middle {
	background-color: #f7f5f2;
	max-width: 2000px;
	max-height: 200px;
	width: 100%;
	height:75%;
}

#home_middle .container {
	position: relative;
	padding: 28px;
	font-family: 'Raleway', sans-serif;
} 

.input {
	margin: 10px auto 25px auto;
	width: 60%;
	font-size: 160%;
	font-weight: normal;
	text-align: center;
	line-height: 120%;
	height: 78px;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 12px; 

  	/* Firefox 1-3.6 */
  	-moz-border-radius: 12px; 
  
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 12px; 
  	border: 3px solid #919689;
}

.submit {
	padding: 25px;
	background-color: #919689;
	text-align: center;
	font-weight: none;
	font-size: 120%;
	color: white;
	margin-left: 12px;
		/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  	-webkit-border-radius: 42px; 

  	/* Firefox 1-3.6 */
  	-moz-border-radius: 42px; 
  
  	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  	border-radius: 42px;
}

.button:hover { 
	background-color: #7D8177;
}

h3 {
	font-weight: bold;
	font-size: 150%;
}

span {
	font-weight: bold;
}

.markets {
	font-size: 100%;
	line-height: 2em;
	text-align: center;
}

#home_bottom {
	/*background-color: #FFFFFF;*/
	padding: 12px 30px;
	float: none;
	width: 100%;
	font-size: 100%;
}

h3 {
	font-weight: bold;
	font-size: 150%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

span {
	font-weight: bold;
}


















